

<h2>Find Photos by User ID</h2>
<%= form_tag root_path, method: :get do %>
  <%= label_tag :user_id, "User ID:" %>
  <%= text_field_tag :user_id, params[:user_id] %>

  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @searched %>
  <% unless @photo_data.empty? %>
    <%= @photo_data %>
  <% else %>
    <% api_error = error_message(@photo_data) %>
    <% if api_error %>
      <%= api_error %>
    <% else %>
      <p>No photos were found.</p>
    <% end %>
  <% end %>
<% end %>