

<h2>Find Photos by User ID</h2>
<%= form_tag root_path, method: :get do %>
  <%= label_tag :user_id, "User ID:" %>
  <%= text_field_tag :user_id, params[:user_id] %>

  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @searched %> 
  <% api_error = error_message(@photo_data) %>
  <% if api_error %>
    <p><%= api_error %></p>
  <% else %>
      <% photos = photos(@photo_data) %>
      <% photos.each do |p| %>
        <div class="photo__wrapper">
          <%= image_tag photo_url(p), { class: "photo" } %>
          <p><%= p["title"] %></p>
        </div>
      <% end %>
      <p><%= "No photos were found." if photos.empty? %></p>
  <% end %>
<% end %>