<div class="header">
  <h1>Find Photos!</h1>
  <%= form_tag root_path, method: :get do %>
    <div class="form__field">
      <%= label_tag :user_id, "User ID:" %>
      <%= text_field_tag :user_id, params[:user_id] %>
    </div>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% if @searched %> 
  <% api_error = error_message(@photo_data) %>
  <% if api_error %>
    <p><%= api_error %></p>
  <% else %>
      <% photos = photos(@photo_data) %>
      <div class="photos">
        <% photos.each do |p| %>
          <div class="photo__wrapper">
            <%= image_tag photo_url(p), { class: "photo" } %>
            <p class="photo__title"><%= p["title"] %></p>
          </div>
        <% end %>
      </div>
      <p><%= "No photos were found." if photos.empty? %></p>
  <% end %>
<% end %>